<!DOCTYPE html>
<html>
  <head>
    <title>LittleJohn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300&display=swap" rel="stylesheet"> 
    <script type="text/javascript">window.mainpagephone = "<%= image_url('mainpagephone.png') %>"</script>
    <script type="text/javascript">window.signinbackground = "<%= image_url('signinbackground.png') %>"</script>
    <script type="text/javascript">window.phonescreen = "<%= image_url('phonescreen.mp4') %>"</script>
    <script type="text/javascript">window.partybg = "<%= image_url('partybg.png') %>"</script>
    <script type="text/javascript">window.product = "<%= image_url('product.png') %>"</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
