<!DOCTYPE html>
<html>
  <head>
    <title>LittleJohn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"> 
    <script type="text/javascript">window.signinbackground = "<%= image_url('signinbackground.png') %>";
</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
